@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(35, 35, 254);
    font-family: 'Roboto', sans-serif;

}
.teste{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: white;
    min-width: 500px;
    height: 400px;
    border-radius: 15px;


}
.main__title{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 40px;    
    display: flex;
    justify-content: center;

}
.main__btn{
    display: flex;
    align-items: center;
    flex-direction: column;  
    
}

.btn-stl{
    background-color: white;
    width: 100%;
    border: none;
    height: 55px;
    font-size:32px;
    margin: 5px 0 5px 0;
}
.btn-stl:hover{
    background-color: rgba(12, 65, 129, 0.749);
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}
.resultado{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(92, 251, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    margin: auto;
}
.none{
    display: none;
}